absl-py==2.1.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
awscli==1.32.89
bleach==6.1.0
blinker==1.8.2
botocore==1.34.89
catboost==1.2.5
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cmdstanpy==1.2.0
colorama==0.4.4
comm==0.2.2
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.1
decorator==4.4.2
docutils==0.16
executing==2.0.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.44.3
gast==0.5.4
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.62.2
h5py==3.11.0
holidays==0.36
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib-resources==6.1.1
ipykernel==6.29.4
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.0
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==3.3.2
kiwisolver==1.4.5
libclang==18.1.1
lightgbm==4.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
mlxtend==0.23.1
moviepy==1.0.3
namex==0.0.8
nest-asyncio==1.6.0
nltk==3.8.1
numpy==1.26.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.2.1
plotly==5.22.0
proglog==0.1.10
prompt-toolkit==3.0.43
prophet==1.1.5
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.0.2
regex==2024.4.16
requests==2.31.0
rich==13.7.1
rsa==4.7.2
s3transfer==0.10.1
scikit-learn==1.4.2
scipy==1.13.0
setuptools==68.2.2
six==1.16.0
stack-data==0.6.3
stanio==0.3.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
tf-slim==1.1.0
tf_keras==2.16.0
threadpoolctl==3.5.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.2
wheel==0.43.0
wrapt==1.16.0
xgboost==2.0.3
